<% provide(:title, "Ask a question") %>

<div class="container">
    <div class="row">

      <%= form_for(@poll, html: {id: "new-poll-form"}) do |f| %>
        <h2>Ask a question!</h2>

        <div class="span-14">
          <%= f.text_field :title, autofocus: "autofocus", placeholder: "Where should we go to dinner?" %>
        </div>

        <div class="span-2">
          <%= submit_tag raw("Ask! &raquo;"), class: "btn btn-green", id: "submit-poll" %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="span-16">

        <div class="separator">
          <h3>or</h3>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="span-10 offset-3">

      <%= form_tag '#', id: "join-poll-form" do %>

        <h2>Join a poll</h2>
        <div class="span-8">
          <%= text_field_tag :pin, nil, placeholder: "Enter a pin number" %>
        </div>

        <div class="span-2">
          <%= submit_tag raw("Join &raquo;"), class: "btn btn-blue", id: "join-poll" %>
        </div>
      <% end %>

      </div>
    </div>
</div>
